body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#container {
    /* display: flex;
    flex-wrap: wrap;
    flex: 1; */
    inset: 0;
    width: 50%; 
    height: 50%; 
    border: 1px solid black;
    line-height: 0;
}

.grid-item {
    display: inline-block;
    /*border-width: 0 1px 1px 0;
    border-color: black;
    border-style: solid;
    */
    height: 10%;
    width: 10%;
    box-sizing: border-box;
}

#rows {
    margin-bottom: 10px;
}

.clear {
    padding: 10px;
    margin-top: 5px;
}