body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    width: 50%; 
    height: 50%; 
    border: 1px solid black;
}

.grid-item {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

#rows {
    margin-bottom: 10px;
}

.clear {
    padding: 10px;
    margin-top: 5px;
}