body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#container {
    display: flex; 
    flex-wrap: wrap; 
    max-width: 50%; 
    height: 50%; 
    border: 1px solid black;
}

.grid-item {
    width: calc(10% - 10px); /* Adjust width as needed; 10 items per row with gap consideration */
    height: 50px; /* Adjust height as needed */
    background-color: lightgray;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rows {
    margin-bottom: 10px;
}

.clear {
    padding: 10px;
    margin-top: 5px;
}